body {
  background-color: rgb(221, 242, 253);
  color: rgb(66, 125, 157);
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* To centralize content */
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* To centralize the form contents */
}

input[type="text"],
button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: rgb(221, 242, 253);
  color: rgb(66, 125, 157);
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid rgb(66, 125, 157);
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: rgb(66, 125, 157);
  color: rgb(221, 242, 253);
}

p {
  font-size: 15px;
  line-height: 1.6;
}

.bottom-text {
  position: relative;
  font-size: 5px;
  bottom: 10px;
  right: 10px;
  color: rgb(66, 125, 157);
  cursor: pointer;
}
